@media (max-width: 767px) {
    .box {
        width: 30%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .box {
        
    }
}

@media (min-width:992px) {
    .box {
        width: 30%;
    }
}

.box{
    border: 2px solid #000000;
    background-color: #9e9e9e;
}